/* CSS declarations go here */
body {
  font-family: 'Abel', sans-serif !important;
}

.summary-box {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px; 
}

.summary-box.active {
	border: 1.5px solid rgb(62, 115, 137);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.top-bar {
	background-color: #637b85;
}

.top-bar-button {
  margin-top: 20px;
}

.title {
	text-align: center;
	color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-title {
  margin-bottom: 0px;
  font-size: 15pt;
  color: white;
}

.summary-box-top {
	background-color: #d0dde3; 
}

.summary-box-title {
	color: #637b85;
	font-size: 16pt;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0px;
}

.summary-box-subtitle {
  color: #637b85;
	font-size: 11pt;
	text-align: center;
/* 	padding-top: 10px; */
	padding-bottom: 5px;
}

.summary-box-content {
  text-align: center;
	height: auto;
	background-color: #efefef; 
  padding-top: 15px;
  padding-bottom: 3px;
}

.date-range-buttons {
  margin-bottom: 10px;
}

.chart {
/*   margin-top: 15px; */
  width: 50% !important;
  height: auto !important;
}

.table-section {
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.overbudget {
	color: red;
}

.date-col {
	width: 17%;
}

.store-col {
	width: 25%;
}

.desc-col {
	width: 28%;
}

.amount-col {
	width: 13%;
}

.category-col {
	width: 10%;
}

.edit-col {
	width: 7%
}

.delete-button {
	cursor: pointer;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  line-height: 22px;
  margin-left: 30%;
  font-size: 1.3em;
  font-weight: bold;
  background-color: rgb(217,92,92);
  color: white;
  text-align: center;
}

.delete-button:hover {
	background-color: #dc6868;
}

.warning {
	display: none;
	width: 100%;
	height: 100%;
	font-size: 12vw;
	color: #c62f29;
}

.warning-notificaiton {
	color: #FF4E4E;
}


th {
	text-align: center !important;
}

tr {
	text-align: center;
}

td {
	vertical-align: middle !important;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.center
{
    text-align:center;
}

